h6 {
  text-align: right;
}
.track1 {
  display: none;
}
.track2 {
  display: none;
}
.track3 {
  display: none;
}
.track4 {
  display: none;
}
.track5 {
  display: none;
}
.track6 {
  display: none;
}
#header {
  text-align: center;
}
#header img {
  height: 101px;
}
#intro {
  padding: 10px 0px 0px 0px;
  background: linear-gradient(to right, #d0e8f6, white);
}
#intro p {
  font-size: 14pt;
}
.well {
  background-color: white;
  margin-top: 10px;
}
.output {
  margin-top: 20px;
}
.output img {
  margin: 20px;
  height: 101px;
}
